<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="git.combmoy01firebase.httpsgithub.patientprof">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity android:name=".SignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MedicalHistoryTemp" />
        <activity android:name=".UpdateMedicalHistory" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".CurrentMedications" />
        <activity android:name=".PostMedications" />
        <activity android:name=".SelectedMedicationActivity" />
        <activity android:name=".LabResultsTest" />
        <activity android:name=".ShowLabResults" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".OverviewList" />
        <activity android:name=".PostDoctorOverview" />
        <activity android:name=".SelectedVisitActivity"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
    </application>

</manifest>